.container-fluid { margin: 0; padding: 0; }

a { color: inherit; text-decoration: none; }

a a:hover { color: inherit; text-decoration: underline; }

ul li { list-style-type: none; }

input, button { outline: none; font-family: inherit; }

@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat-Regular.ttf"); }

::selection { background-color: #00ffbf; color: #013557; }

body { font-family: Montserrat; background-color: #f3f3f3; color: #013557; }

hr { border: 1px solid #ededed; margin: 10px 0; }

/* Smooth Scrolling */
html { scroll-behavior: smooth; }

/* -- Smooth Scrolling -- */
/* Scroll to Top */
#toTop { padding: 10px; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); color: #fff; bottom: 20px; right: 10px; z-index: 15; display: none; cursor: pointer; position: fixed; opacity: .5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)"; border-radius: 50%; width: 45px; height: 45px; text-align: center; }

#toTop:hover { opacity: 1; }

/* -- Scroll to Top -- */
@media screen and (max-width: 990px) { #toTop { bottom: 70px; right: 20px; } }

body { font-family: Montserrat; background-color: #f3f3f3; }

/* Header Contents */
header { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); color: #fff; text-align: center; border-radius: 0; }

header h1 { color: #fff; }

header h1 small.lead { margin-top: 5px; font-size: 15px; display: block; }

/*-- Header Contents --*/
nav.navbar { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); font-size: 16px; }

nav.navbar .navbar-toggler { background-image: linear-gradient(45deg, #ff3c00, #fab31b); border-radius: 0; }

nav.navbar .navbar-collapse { justify-content: space-between; }

nav.navbar .navbar-collapse .current, nav.navbar .navbar-collapse .current:hover, nav.navbar .navbar-collapse a:hover { background-image: linear-gradient(45deg, #ff3c00, #fab31b); color: #fff; }

.d-flex .btn { background-image: linear-gradient(45deg, #ff3c00, #fab31b); color: #fff; }

/* Social-Media Button */
.social-btn { display: flex; flex-direction: column; position: fixed; left: 0; z-index: 10; }

.social-btn a { flex-grow: 1; text-align: center; padding: 10px; color: #fff; background-image: linear-gradient(45deg, #ff3c00, #fab31b); font-size: 20px; }

/*-- Social-Media Button --*/
/* Article Contents */
article { position: relative; background-color: #f3f3f3; }

/* Realtime Datetime dan Caption */
#date-time p { padding: 5px 10px; background-image: linear-gradient(45deg, #ff3c00, #fab31b); font-size: 13px; color: #fff; font-weight: bolder; text-align: center; }

#attention { line-height: 25px; }

#attention blockquote { border-radius: 40px; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); margin: 20px; padding: 20px; text-align: center; color: #fff; position: relative; font-weight: bold; }

#attention blockquote::before, #attention blockquote::after { position: absolute; font-size: 50px; text-shadow: 0 0 2px #013557; }

#attention blockquote::before { content: open-quote; top: 5px; left: 10px; }

#attention blockquote::after { content: close-quote; bottom: -20px; right: 10px; }

/*-- Realtime Datetime dan Caption --*/
/* Breadcrumb */
.breadcrumb { font-size: 13px; line-height: 20px; background-color: #f3f3f3; }

.breadcrumb a { color: #fff; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); border-radius: 10px; padding: 2px 10px; }

/*-- Breadcrumb --*/
#post .card { border: none; /* Post Label */ /*-- Post Label --*/ }

#post .card .badge { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); border-radius: 15px; padding: 5px 10px; font-weight: normal; }

#post img { width: 100%; border-radius: 5px; }

#post h2, #post h3 { line-height: 25px; margin: 10px 0; color: #013557; font-weight: bolder; }

#post h2 { font-size: 18px; }

#post h3 { font-size: 16px; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); color: #fff; margin-top: 30px; padding: 10px; padding-left: 20px; border-left: 7px solid #013557; }

#author h2 { font-size: 18px; }

#author h3 { font-size: 16px; }

/* Postingan */
.card-body blockquote { line-height: 25px; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); margin: 10px 0; padding: 10px; padding-left: 35px; color: #fff; position: relative; font-weight: 500; text-shadow: 0 0 3px #013557; font-style: oblique; font-size: 14px; border-radius: 10px; }

.card-body blockquote::before { position: absolute; font-size: 50px; text-shadow: 0 0 3px #013557; content: open-quote; top: 50%; left: 5px; font-family: Arial; }

.card-body p, .card-body ol { line-height: 30px; text-align: justify; font-size: 15px; }

.card-body ol { list-style: none; counter-reset: list; }

.card-body li { counter-increment: list; }

.card-body li::before { content: counter(list); background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); padding: 0 5px; border-radius: 5px; color: #fff; font-weight: bold; margin-right: 5px; }

.card-body p.featured-link { margin: 10px 0; padding-left: 10px; font-size: 14px; border-left: 5px solid #999; }

.card-body p.featured-link a { color: #fff; background-image: linear-gradient(45deg, #ff3c00, #fab31b); padding: 2px 10px; border-radius: 5px; }

/* Nama Penulis dan Tanggal Posting */
.post-attribute { margin-bottom: 10px; font-size: 13px; align-items: center; }

.author-post { margin-right: 10px; }

.author-post .author-post a { color: #013557; }

.date-post { margin-right: 10px; }

#post .post-attribute > img { width: 30px; border-radius: 50%; margin-right: 10px; }

/*-- Nama Penulis dan Tanggal Posting --*/
/* Share on Social Media */
.share a { line-height: 10px; margin: 0 3px; padding: 10px; width: 35px; border-radius: 50%; display: inline-block; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); color: #fff; }

/*-- Share on Social Media --*/
/* Author Page */
#author { display: flex; align-items: center; justify-content: space-between; }

#author .author-desc { width: 30%; }

#author .author-desc > img { width: 70%; border-radius: 50%; }

#author .author-about { width: 70%; text-align: left; line-height: 30px; }

#author h3 { color: #999; }

#author p { margin-bottom: 10px; }

/*-- Author Page --*/
/*-- Postingan --*/
/* Pagination */
.page-link { background-image: linear-gradient(45deg, #ff3c00, #fab31b); margin: 0 2px; padding: 10px 15px; color: #fff; font-size: 15px; }

.page-link:hover { box-shadow: 0 0 5px #fff; color: #fff; }

/*-- Pagination --*/
/*-- Article Contents --*/
/* Footer Contents */
footer { background-color: #fff; text-align: center; }

footer li, footer a { display: inline-block; }

footer li { font-size: 14px; }

footer a { color: #013557; padding: 20px; }

footer .credit { font-size: 13px; padding: 20px; }

footer .credit a { padding: 0; }

/*-- Footer Contents --*/
@media screen and (max-width: 990px) { /* Mobile Navigation */ nav { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); z-index: 10; position: sticky; font-size: 20px; top: 0; } /*-- Mobile Navigation --*/ /* Social-Media Button */ .social-btn { display: flex; flex-direction: row; justify-content: space-between; position: fixed; bottom: 0; width: 100%; z-index: 10; } .social-btn a { flex-grow: 1; text-align: center; padding: 10px; color: #fff; background-image: linear-gradient(45deg, #ff3c00, #fab31b); font-size: 20px; } /*-- Social-Media Button --*/ /* Article Contents */ article { position: relative; } /*-- Article Contents --*/ #author { flex-direction: column; } #author .author-desc, #author .author-about { width: 100%; } #author .author-about { text-align: center; margin-top: 20px; } }

/*# sourceMappingURL=styles.css.map */