* { margin: 0; padding: 0; }

.container-fluid { margin: 0; padding: 0; }

a { color: inherit !important; text-decoration: none; }

a a:hover { color: inherit !important; text-decoration: underline; }

ul { margin-bottom: 0; }

ul li { list-style-type: none; }

input, button { outline: none; font-family: inherit; }

@font-face { font-family: 'Montserrat'; src: url("../fonts/Montserrat-Regular.ttf"); }

::selection { background-color: #00ffbf; color: #013557; }

body { font-family: Montserrat; background-color: #f3f3f3; color: #013557; }

hr { border: 1px solid #ededed; margin: 10px 0; }

h1 { font-size: 35px !important; }

h2 { font-size: 28px !important; }

h3 { font-size: 20px !important; }

/* Syntax Highlighting */
.language-plaintext { color: #ff3c00; font-size: 15px; }

.highlight { padding: 7px 7px 1px 7px; font-size: 15px; line-height: 20px; border-radius: 5px; background-color: #f3f3f3; max-height: 400px; text-align: left; }

.highlight .lineno { font-size: 15px; color: #013557; padding: 0 5px; }

.highlight .code { font-size: 17px; }

/*-- Syntax Highlighting --*/
/* Smooth Scrolling */
html { scroll-behavior: smooth; }

/* -- Smooth Scrolling -- */
/* Scroll to Top */
#toTop { padding: 10px; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); color: #fff; bottom: 20px; right: 10px; z-index: 15; display: none; cursor: pointer; position: fixed; opacity: .5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)"; border-radius: 50%; width: 45px; height: 45px; text-align: center; }

#toTop:hover { opacity: 1; }

/* -- Scroll to Top -- */
/* Search Style */
.search section { margin: 10px 0; padding: 20px 20px 10px 20px; background-color: #fff; border-radius: 5px; }

.search section h3 { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); border-left: 5px solid #013557; padding: 15px; margin-bottom: 20px; border-radius: 10px; color: #fff; }

.search section h3 span { display: inline-block; margin-right: 10px; padding: 5px 10px; background-image: linear-gradient(45deg, #ff3c00, #fab31b); border-radius: 5px; }

.search section a { display: inline-block; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); padding: 3px 10px; font-size: 15px; border-radius: 5px; color: #fff !important; }

/*-- Search Style --*/
@media screen and (max-width: 990px) { #toTop { bottom: 70px; right: 20px; } }

body { font-family: Montserrat; background-color: #f3f3f3; }

/* Header Contents */
header { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); color: #fff; text-align: center; border-radius: 0 !important; }

header h1 { color: #fff; }

/*-- Header Contents --*/
nav.navbar { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); font-size: 16px; color: #fff; }

nav.navbar .navbar-toggler { background-image: linear-gradient(45deg, #ff3c00, #fab31b); }

nav.navbar .navbar-collapse { justify-content: space-between; }

nav.navbar .navbar-collapse .current, nav.navbar .navbar-collapse .current:hover, nav.navbar .navbar-collapse a:hover { background-image: linear-gradient(45deg, #ff3c00, #fab31b); color: #fff; }

.d-flex .btn { background-image: linear-gradient(45deg, #ff3c00, #fab31b); color: #fff; }

/* Social-Media Button */
.social-btn { display: flex; flex-direction: column; position: fixed; left: 0; z-index: 10; }

.social-btn a { flex-grow: 1; text-align: center; padding: 10px; color: #fff !important; background-image: linear-gradient(45deg, #ff3c00, #fab31b); font-size: 20px; }

/*-- Social-Media Button --*/
/* Article Contents */
article { position: relative; background-color: #f3f3f3; }

/* Realtime Datetime dan Caption */
#date-time p { padding: 5px 10px; background-image: linear-gradient(45deg, #ff3c00, #fab31b); font-size: 13px; color: #fff; font-weight: bolder; text-align: center; }

/*-- Realtime Datetime dan Caption --*/
/* Blockquote Style */
#attention, .card-body { line-height: 25px; }

#attention blockquote, .card-body blockquote { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); color: #fff; position: relative; }

#attention blockquote::before, #attention blockquote::after, .card-body blockquote::before, .card-body blockquote::after { position: absolute; text-shadow: 0 0 2px #013557; font-size: 50px; }

#attention blockquote { border-radius: 40px; margin: 20px; padding: 20px; text-align: center; }

#attention blockquote::before { content: open-quote; top: 5px; left: 10px; }

#attention blockquote::after { content: close-quote; bottom: -20px; right: 10px; }

.card-body blockquote { margin: 20px 0; padding: 10px; padding-left: 35px; font-weight: 500; text-shadow: 0 0 3px #013557; font-style: oblique; font-size: 14px; border-radius: 10px; }

.card-body blockquote::before { content: open-quote; top: 50%; left: 5px; }

/*-- Blockquote Style --*/
/* Breadcrumb */
.breadcrumb { font-size: 13px; line-height: 20px; background-color: #f3f3f3; }

.breadcrumb a { color: #fff !important; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); border-radius: 10px; padding: 2px 10px; margin: 0 5px; }

/*-- Breadcrumb --*/
#post .card { border: none; /* Post Label/Tag */ /*-- Post Label/Tag --*/ }

#post .card .card-img-top { width: 50%; }

#post .card .badge { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); border-radius: 15px; padding: 5px 10px; font-weight: normal; }

#post img { width: 100%; border-radius: 5px; }

#post h2, #post h3 { line-height: 25px; margin: 10px 0; color: #013557; font-weight: bolder; }

#post h3 { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); color: #fff; margin-top: 30px; padding: 10px; padding-left: 20px; border-left: 7px solid #013557; }

/* Postingan */
.card-body p, .card-body li { line-height: 30px; text-align: justify; font-size: 15px; }

.card-body ol { list-style: none; counter-reset: list; }

.card-body li { counter-increment: list; }

.card-body li::before { content: counter(list); background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); padding: 0 5px; border-radius: 5px; color: #fff; font-weight: bold; margin-right: 5px; }

.card-body p.featured-link { margin: 10px 0; padding-left: 10px; font-size: 14px; border-left: 5px solid #999; }

.card-body p.featured-link a { color: #fff !important; background-image: linear-gradient(45deg, #ff3c00, #fab31b); padding: 2px 10px; border-radius: 5px; }

/* Nama Penulis dan Tanggal Posting */
.post-attribute { margin-bottom: 10px; font-size: 13px; align-items: center; }

.author-post { margin-right: 10px; }

.author-post .author-post a { color: #013557; }

.date-post { margin-right: 10px; }

#post .post-attribute img { width: 30px; border-radius: 50%; margin-right: 10px; }

/*-- Nama Penulis dan Tanggal Posting --*/
/* Share on Social Media */
.share a { line-height: 10px; margin: 0 3px; padding: 10px; width: 35px; border-radius: 50%; display: inline-block; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); color: #fff !important; }

/*-- Share on Social Media --*/
/* Post Tags */
.tag { margin: 20px; padding: 20px; background-color: #fff; border-radius: 5px; line-height: 30px; }

.tag h2 { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); border-radius: 5px; text-align: center; color: #fff; padding: 10px; margin-bottom: 20px; }

.tag li { counter-increment: list; }

.tag li::before { content: counter(list); background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); padding: 0 5px; border-radius: 5px; color: #fff; font-weight: bold; margin-right: 5px; }

/*-- Post Tags --*/
/* Books Style */
#book .book-desc { background-color: #fff; }

#book .book-desc a { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); color: #fff !important; font-weight: bold; font-size: 13px; }

/*-- Books Style --*/
/* Pages Style */
#page { display: flex; align-items: center; justify-content: space-between; }

#page .page-desc { width: 30%; }

#page .page-desc > img { width: 70%; border-radius: 50%; }

#page .page-about { width: 70%; text-align: left; line-height: 30px; }

#page h3 { color: #999; }

#page p { margin-bottom: 10px; }

/*-- Pages Style --*/
/*-- Postingan --*/
/* Pagination */
.page-link { background-image: linear-gradient(45deg, #ff3c00, #fab31b); margin: 0 2px; padding: 10px 15px; color: #fff !important; font-size: 15px; }

.page-link:hover { box-shadow: 0 0 5px #fff; color: #fff; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); }

.current-link { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); }

/*-- Pagination --*/
/*-- Article Contents --*/
/* Footer Contents */
footer { background-color: #fff; text-align: center; }

footer li { display: inline-flex; }

footer li a { color: #013557; }

footer li, footer .credit { font-size: 15px; }

footer li a, footer .credit a { padding: 20px; }

footer .credit { padding: 20px; background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); color: #fff; font-weight: bold; }

/*-- Footer Contents --*/
@media screen and (max-width: 990px) { /* Mobile Navigation */ nav { background-image: linear-gradient(-45deg, #00ffbf, #1b8efa); z-index: 10; position: sticky; font-size: 20px; top: 0; } /*-- Mobile Navigation --*/ /* Social-Media Button */ .social-btn { display: flex; flex-direction: row; justify-content: space-between; position: fixed; bottom: 0; width: 100%; z-index: 10; } .social-btn a { flex-grow: 1; text-align: center; padding: 10px; color: #fff !important; background-image: linear-gradient(45deg, #ff3c00, #fab31b); font-size: 20px; } /*-- Social-Media Button --*/ #post .card .card-img-top { width: 100%; } /* Article Contents */ article { position: relative; } /*-- Article Contents --*/ #page { flex-direction: column; } #page .page-desc, #page .page-about { width: 100%; } #page .page-about { text-align: center; margin-top: 20px; } }

@media screen and (max-width: 576px) { nav.navbar { font-size: 16px; } nav.navbar .navbar-brand, nav.navbar button, nav.navbar input { font-size: inherit; } .card-body { text-align: center; } footer li a { padding: 20px 10px; } footer li, footer .credit { font-size: 13px; } }

/*# sourceMappingURL=styles.css.map */